<mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
        <span [routerLink]="['/dashboard']">statscovid19</span>
        <div class="d-flex justify-content-end align-items-center">
            <mat-slide-toggle class="mr-3" [checked]="_commonService.isDarkMode" matTooltip="Toggle dark mode" (change)="onDarkModeSwitched($event)">
                <mat-icon class="light-mode-icon" *ngIf="!_commonService.isDarkMode">wb_sunny</mat-icon>
                <mat-icon class="dark-mode-icon" *ngIf="_commonService.isDarkMode">brightness_2</mat-icon>
            </mat-slide-toggle>
            <button class="mr-3" matTooltip="COVID-19 Solidarity Response Fund for WHO" (click)="launchDonate()" mat-stroked-button color="success">Donate</button>
            <button matTooltip="Go to WHO website" (click)="launchWHO()" mat-stroked-button color="accent">WHO</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="breadcrumb-toolbar d-flex justify-content-between align-items-center">
   <div class="d-flex justify-content-start align-items-center">
    <ng-container *ngIf="!_commonService.country">
        <mat-icon>language</mat-icon>
        <p *ngIf="_commonService.lastUpdatedDate">(Last updated: {{ _commonService.lastUpdatedDate }})</p>
    </ng-container>
    <ng-container *ngIf="_commonService.country">
        <img *ngIf="_commonService.countryCode" style="width: 40px;" [src]="'https://www.countryflags.io/'+ _commonService.countryCode +'/flat/64.png'" alt="{{ _commonService.country }}">
       <p><b class="text-uppercase">{{ _commonService.country }}</b></p>
       <p *ngIf="_commonService.lastUpdatedDate">(Last updated: {{ _commonService.lastUpdatedDate }})</p>
    </ng-container>
   </div>
    <button *ngIf="_commonService.country" [routerLink]="['/dashboard']" matTooltip="Go to Dashboard" mat-icon-button aria-label="Dashboard">
        <mat-icon>arrow_back</mat-icon>
      </button>
</div>