.mat-toolbar span{
    text-transform: uppercase;
    color: #e86464;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
.breadcrumb-toolbar{
    background: #fff;
    padding: 0 16px;
    height: 46px;
    p{
        margin: 0;
        margin-left: 10px;
    }
}
.light-mode-icon{
    color: #d2e85c;
    position: relative;
    top: 3px;
}
.dark-mode-icon{
    color: #ffffff;
    position: relative;
    top: 3px;
}