<h2>Symptoms</h2>
<mat-dialog-content class="mat-typography">
<h3>Common symptoms</h3>
    <div class="app-card row">
    <div class="col-md-4">
        <img src="assets/fever.svg" style="max-width: 130px;" alt="Fever">
        <h4 class="mt-3 text-light">Fever</h4>
    </div>
    <div class="col-md-4">
        <img src="assets/tiredness.svg" style="max-width: 130px;" alt="Tiredness">
        <h4 class="mt-3 text-light">Tiredness</h4>
    </div>
    <div class="col-md-4">
        <img src="assets/dry_cough.svg" style="max-width: 130px;" alt="Dry cough<">
        <h4 class="mt-3 text-light">Dry cough</h4>
    </div>
</div>
<h3>Other symptoms</h3>
<div class="app-card row">
    <div class="col-md-4">
        <img src="assets/breath_shortness.svg" style="max-width: 130px;" alt="Shortness of breath">
        <h4 class="mt-3 text-light">Shortness of breath</h4>
    </div>
    <div class="col-md-4">
        <img src="assets/aches_pain.svg" style="max-width: 130px;" alt="Aches and pains">
        <h4 class="mt-3 text-light">Aches and pains</h4>
    </div>
    <div class="col-md-4">
        <img src="assets/sore_throat.svg" style="max-width: 130px;" alt="Sore throat">
        <h4 class="mt-3 text-light">Sore throat</h4>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>