:root{
    --app-blue: rgba(136, 136, 255, 0.3);
    --app-blue-color: #5656d2;
    --app-red: rgba(232, 100, 100, .3);
    --app-red-color: #c85353;
    --app-green: rgba(100, 232, 122, 0.3);
    --app-green-color: #41a551;
    --app-yellow: rgba(228, 246, 124, 0.3);
    --app-yellow-color: #869820;
}
$app-primary: #f5f5f5;
$app-primary-dark: #323232;