<div class="row justify-content-center">
    <div class="app-padding" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="isLoadingCaseCount">
        <app-dataloading></app-dataloading>
    </div>
</div>
<app-error *ngIf="errorCaseCount && !isLoadingCaseCount"></app-error>
<div class="row case-count-section" *ngIf="!isLoadingCaseCount && !errorCaseCount">
    <div class="col-md-3 col-sm-6 col-6">
        <mat-card class="case-count mat-elevation-z0 total text-center">
            <div class="d-flex justify-content-center align-items-center">
                <mat-icon>done</mat-icon>
                <h2>{{ data.cases }}</h2>
                <p class="no-margin"> (Today: {{ data.todayCases }})</p>
            </div>
            <h3>Confirmed</h3>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 col-6">
        <mat-card class="case-count mat-elevation-z0 active text-center">
            <div class="d-flex justify-content-center align-items-center">
                <mat-icon>single_bed</mat-icon>
                <h2>{{ data.cases - data.recovered - data.deaths }}</h2>
            </div>
            <h3>Active</h3>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 col-6">
        <mat-card class="case-count mat-elevation-z0 recovered text-center">
            <div class="d-flex justify-content-center align-items-center">
                <mat-icon>verified_user</mat-icon>
                <h2>{{ data.recovered }}</h2>
            </div>
            <h3>Recovered</h3>
        </mat-card>
    </div>
    <div class="col-md-3 col-sm-6 col-6">
        <mat-card class="case-count mat-elevation-z0 death text-center">
            <div class="d-flex justify-content-center align-items-center">
                <mat-icon>error</mat-icon>
                <h2>{{ data.deaths }}</h2>
                <p class="no-margin"> (Today: {{ data.todayDeaths }})</p>
            </div>
            <h3>Deaths</h3>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-12 section d-flex">
        <div class="app-card info-card row mat-elevation-z0 d-flex flex-column width-100">
            <div class="d-flex justify-content-between">
                <h2 class="no-margin">Cases distribution</h2>
            </div>
            <div class="row justify-content-center">
                <div id="chartdiv" style="height: 400px;overflow: hidden;width: 100%;" [style.height.px]="(errorCaseCount || isLoadingCaseCount) ? '0' : '400'"></div>
                <div class="app-padding" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="isLoadingCaseCount">
                    <app-dataloading></app-dataloading>
                </div>
                <app-error *ngIf="errorCaseCount && !isLoadingCaseCount"></app-error>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 section">
        <div class="app-card info-card row mat-elevation-z0 d-flex d-flex flex-column width-100">
            <div class="d-flex justify-content-sm-between justify-content-start flex-sm-row flex-column">
                <h2 class="no-margin">Cases over time</h2>
            </div>
            <div class="row justify-content-center">
                <div id="lineChartDiv" style="height: 400px;overflow: hidden;width: 100%;" [style.height.px]="(errorLineChart || isLoadingLineChart) ? '0' : '400'"></div>
                <div class="app-padding" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="isLoadingLineChart">
                    <app-dataloading></app-dataloading>
                </div>
                <app-error *ngIf="errorLineChart && !isLoadingLineChart"></app-error>
            </div>
        </div>
    </div>
</div>