/* You can add global styles to this file, and also import other style files */
@import './themes/theme.scss';
@import './themes/variable.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: $app-primary;
}
.app-padding{
    padding: 20px;
}
.no-margin{
    margin: 0px;
}